.container {
  width: 100%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: rgb(253, 93, 1);
}

h1 {
  width: 100%;
  
  font-family: 'Dancing Script', cursive;
  text-shadow: 5px 0 #0baa2e;
  font-size: 8rem;
  color: rgb(0, 253, 169);
}

p {
  font-size: 2rem;
  color: rgb(9, 255, 173);
  font-weight: bold;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
